@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

html {
  body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}

// Check the margin bottom between the hero text
.hero {
  background: linear-gradient(rgba(51, 51, 30, 0), rgba(0, 0, 0, 0.4)),
    url("../images/room-7.jpg") center/cover no-repeat;
  height: 100vh;
  overflow: hidden;
}
.hero {
  visibility: hidden;

  .hero-box {
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;

    .hero-inner {
      display: flex;
      align-items: center;
      margin: 0 24px;
      height: 90vh;

      .hero-content {
        width: 50%;
        .hero-content-inner {
          width: 600px;
          color: #fff;
          margin: 0 auto;
          h1 {
            font-weight: 500;
            font-size: 54px;
            // font-size: clamp(1rem, 2.5vw, 1.5rem);

            // font-size: clamp(3rem, 6vw, 2rem);
            margin-bottom: 34px;
            letter-spacing: 1px;
            .hero-content-line {
              margin: 0;
              height: 50px;
              margin-bottom: 10px;
              .hero-content-line-inner {
              }
            }
          }
          p {
            font-size: 16px;
            line-height: 30px;
            font-weight: 400;

            color: rgb(226, 226, 226);
            letter-spacing: 0.8px;
            font-family: "Roboto";
          }
        }
      }
    }
  }
}

// Header

header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 99;
  //new

  color: white;
  text-transform: uppercase;
  overflow: hidden;
  background: rgba(5, 5, 27, 0.6);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;

    .logo {
      a {
        font-weight: 700;
        font-size: 20px;
        text-decoration: none;
        letter-spacing: 1.5px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        background-color: red;
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }
    }
    // .nav-btn {
    //   background: transparent;
    //   border: none;
    //   cursor: pointer;
    //   outline: none;
    //   visibility: hidden;
    // }
    // .show-nav {
    //   height: 100px;
    // }
    // .nav-icon {
    //   font-size: 1.5rem;
    //   color: #e1a918;
    // }
    .navigation {
      // display: flex;
      // justify-content: space-around;
      & a {
        margin: 0 20px;
        text-decoration: none;
        letter-spacing: 1.75px;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        font-family: "Roboto", sans-serif;
        &:last-child {
          margin-right: 0px;
        }

        // &:hover {
        //   background-color: #fff;
        //   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        // }

        button {
          border: 2px solid #e1a918;
          color: white;
          font-family: "Roboto", Segoe UI, calibri, Helvetica, serif;
          padding: 10px;
          font-size: 18px;
          width: 160px;
          border-radius: 500px;
          cursor: pointer;
          background-color: #e1a918;
          transition: all 0.2s ease-in-out;
          outline: none;
          font-weight: bold;
        }
      }
    }
  }
  // @media screen and (min-width: 768px) {
  // .inner-header {
  //   display: flex;
  //   justify-content: space-around;
  // }
  // .nav-btn {
  //   visibility: visible;
  // }
  // .header-container {
  //   max-width: 1170px;
  //   margin: 0 auto;
  //   // display: flex;
  // }
  // .navigation {
  //   height: auto;
  //   display: flex;
  //   margin-left: 4rem;
  // }
  // .navigation:not(:last-child) {
  //   visibility: hidden;
  // }
  // }
}

/************** Booking component************/
.booking-component {
  display: flex;
  margin-right: 20px;

  .booking-component.right {
    display: flex;
    margin-right: 20px;
    .booking-details-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .picker-guest-wrapper {
        width: 200px;
        display: flex;

        .picker-wrapper.guest {
          width: 30%;
          display: flex;
          margin-right: 20%;
          box-sizing: border-box;
        }
      }
    }
  }
}

/************** Normal Picker ******************/
.picker-input {
  font-size: 80%;
  height: 50px;
  line-height: 43px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  padding: 2px 22px;
  outline: none;
  border-color: #e1a918;
  border-radius: 5px;
  border: 2px solid #e1a918;
}

.picker-name {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

/************* DATE PICKER COMPONENT***********/
.date-picker {
  display: flex;

  .date-picker-sub-left,
  .date-picker-sub-right {
    .date-picker-text {
      margin: 0;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
    .date-component {
      background-color: #fff;
      color: #000;
      width: 160px;
      border: 1px solid #e1a918;
      height: 45px;
      line-height: 43px;
      text-align: center;
      cursor: pointer;
      border-radius: 5px;
      outline: none;
    }
  }
}

/******** booking button ****/
.booking-btn {
  height: 48px;
  background-color: #e1a918;
  width: 160px;
  text-align: center;
  line-height: 44px;
  border-radius: 5px;
  vertical-align: top;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 100px;
  cursor: pointer;
}

/***** Rooms Display **********/
// .wrapper {
//   max-width: 900px;
//   .wrapper-room {
//     width: 100%;
//     .room-card {
//       width: 100%;
//       display: flex;
//     }
//   }
// }

// .roomie {
//   max-width: 1200px;
//   width: 1200px;
// }

// .single-room-display {
//   margin: 20px auto;
//   max-width: 1200;
//   display: flex;
// }

/****** STATS ******/
.stats-container {
  font-family: "Roboto";
  width: 100%;
  height: 100%;
  background-color: rgb(12, 10, 10);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem calc((100vw - 1400) / 2);
  overflow: hidden;
  .stats-heading {
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 2rem);
    margin-bottom: 3rem;
    padding: 0 2rem;
  }
  .stats-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
    .stats-box {
      height: 100%;
      width: 100%;
      padding: 2rem;

      .stats-icon {
        font-size: 3rem;
        margin-bottom: 10px;
        text-align: center;
      }
      .stats-title {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        margin-bottom: 0.5rem;
        text-align: center;
        letter-spacing: 1px;
      }
      .stats-desc {
        width: 80%;
        margin: 1rem auto;
        line-height: 1.6;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.5px;
      }
    }
  }
}

/********* Footer ******/
.footer-container {
  padding: 5rem calc((100vw - 1100) / 2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #000;
  background-color: rgba(184, 187, 202, 0.4);
  font-weight: 500;
  padding: 5rem;
  overflow: hidden;
  .footer-links-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .footer-description {
      padding: 0 2rem;

      h2 {
        margin-bottom: 2rem;
        background-color: red;
        background-image: linear-gradient(45deg, #e6db1a, #c21143);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }

      p {
        line-height: 1.6;
      }

      @media screen and (max-width: 400px) {
        padding: 1rem;
      }
    }
    .footer-link-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 2rem;
      .footer-link-title {
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: 600;
      }

      .footer-link {
        margin-bottom: 0.5rem;
        font-size: 14px;
        color: #3d3d4e;
        cursor: pointer;
        letter-spacing: 0.5px;

        .fab {
          font-size: 1rem;
          margin-right: 1rem;
          color: #000;

          &:hover {
            color: #f26a2e;
            transition: 0.3s ease-out;
          }
        }

        &:hover {
          color: #f26a2e;
          transition: 0.3s ease-out;
        }
      }

      @media screen and(max-width: 400px) {
        padding: 1rem;
      }
    }

    @media screen and (max-width: 820px) {
      grid-template-columns: 1fr;
    }
  }
}

/****** Sign Up *****/
.email-container {
  // background: linear-gradient((
  //        180deg,
  //      rgba(0, 0, 0, 0.5) 0%,
  //       rgba(0, 0, 0, 0.5) 35%,
  //       rgba(0, 0, 0, 0.1) 100%
  //     ),

  //   url("../images/zangi-jpg") center/cover no-repeat;
  height: 400px;
  width: 100%;
  background-color: #e1a918;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .email-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: clamp(1rem, 5vw, 3rem);
      padding: 0 1rem;
    }

    p {
      text-align: center;
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      padding: 0 1rem;
      margin-bottom: 2rem;
    }
  }

  form {
    z-index: 10;
    .form-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        padding: 1rem 1.5rem;
        outline: none;
        width: 250px;
        height: 30px;
        border-radius: 50px;
        border: none;
        margin-bottom: 1rem;
      }

      button {
        padding: 16px 40px;
        outline: none;
        min-width: 250px;
        height: 50px;
        border-radius: 50px;
        border: none;
        color: #fff;
        font-size: 20px;
        background: rgb(17, 16, 16);
      }
    }
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      input {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 100%;
      }
    }
  }
}

/*************** Rooms  Display********/

.slider {
  width: 100vw;
  height: 100%;

  overflow: hidden;

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .carousel-container {
    display: flex;

    .fas {
      height: 40px;
      width: 40px;
      border-radius: 100px;
      color: #fafafb;
      background-color: black;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;

      &:hover {
        background-color: #e1a918;
        color: #fafafb;
      }
    }
    .column-left {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0rem 2rem;
      line-height: 1.4;
      .fa-arrow-left {
        font-size: 1.8rem;
      }
      .room-info {
        // display: flex;
        // flex-direction: column;
        text-align: center;

        h3 {
          margin-bottom: 0.5rem;
          font-size: clamp(1.5rem, 6vw, 2rem);
        }
        p {
          margin-bottom: 2rem;
          font-size: 18px;
        }
        h4 {
          text-transform: capitalize;
          font-size: 1.4rem;
        }
      }

      a {
        padding: 10px 25px;
        outline: none;
        max-width: 150px;
        height: 20px;
        border-radius: 50px;
        border: none;
        color: #fff;
        font-size: 20px;
        background: #e1a918;
        text-decoration: none;
        text-align: center;
      }
    }

    .column-right {
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      .slider-image {
        height: 500px;
        width: 500px;
        object-fit: cover;
      }
      .fa-arrow-right {
        font-size: 1.8rem;
        margin-bottom: 16rem;
        margin-left: 2rem;
      }
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}

////////// Room
.room-list {
  background: linear-gradient(rgba(51, 51, 30, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/room-14.jpg") center/cover no-repeat;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
  text-align: center;
  h1 {
    margin-bottom: 1rem;
    font-size: clamp(1rem, 5vw, 3rem);
    padding: 0 1rem;
    color: #f2f2f2;
  }

  p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: 0 1rem;
    margin-bottom: 2rem;
    color: #dbdbdb;
  }
}

/*************** Featured Rooms ********/
.wrapper {
  margin: auto;
  width: 100%;
  text-align: center;
  // background-color: #dddde6;
  background-color: #fff;
  .wrapper-room {
    padding-top: 40px;
    padding-bottom: 40px;
    h1 {
      text-align: center;
    }
    .featured-rooms {
      background: white;
      width: 400px;
      display: inline-block;
      margin: 50px;
      border-radius: 15px;
      position: relative;
      text-align: center;
      box-shadow: -1px 15px 30px -12px black;
      z-index: 1;
      .featured-room {
        position: relative;
        height: 250px;
        margin-bottom: 35px;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        .featured-image {
          width: 400px;
          height: 250px;
          object-fit: cover;
        }
      }
      .featured-room-type {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 3px;
      }
      .featured-room-description {
        padding: 20px;
        margin-bottom: 10px;
        line-height: 1.7;
      }
      .featured-room-name {
        font-size: 26px;
        color: black;
        font-weight: 900;
        margin-bottom: 5px;
        text-transform: capitalize;
      }
      .featured-button {
        background: #e1a918;
        cursor: pointer;
        // display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 45px;
        margin: 0 0 2em;
        max-width: 160px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;

        color: white;
        border-bottom: 1px solid;

        padding: 10px;
        text-decoration: none;
      }
      .featured-room-box {
        color: black;
        font-weight: 700;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        display: flex;
        justify-content: space-around;
        margin-top: 16px;
        background: rgba(184, 187, 202, 0.4);
        padding: 15px 0px;
        div {
          border-right: 1px solid dark;
        }
      }
    }
  }
}

/******* Single Rooms *****/

.single-room-section {
  .single-room-hero {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .image-display {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 5rem;
    grid-column-gap: 10px;

    img {
      width: 100%;
      display: block;
      height: 200px;
      object-fit: cover;
    }
  }

  .single-room-info {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem auto;

    .description {
      & h3 {
        text-transform: capitalize;
        letter-spacing: 1px;
      }

      & p {
        line-height: 1.5;
        letter-spacing: 0.5px;
      }
    }
  }

  .info {
    & h3 {
      text-transform: capitalize;
      letter-spacing: 1px;
    }
    & p {
      text-transform: capitalize;
      letter-spacing: 1px;
    }
  }

  .room-extras {
    margin: 0 auto 3rem auto;
    width: 80vw;

    & h3 {
      text-transform: capitalize;
      letter-spacing: 1px;
    }
    .extras {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
      grid-row-gap: 2rem;
      grid-column-gap: 1rem;
      letter-spacing: 0.5px;
    }
  }

  .reserve-button {
    border: 2px solid #e1a918;
    color: white;
    font-family: "Roboto", Segoe UI, calibri, Helvetica, serif;
    padding: 10px;
    font-size: 18px;
    width: 200px;
    border-radius: 500px;
    cursor: pointer;
    background-color: #e1a918;
    transition: all 0.2s ease-in-out;
    outline: none;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 6rem;
    // padding: 8px 16px;
    // border: none;
    // background: #fff;
    // color: #e1a918;
    // text-transform: uppercase;
    // letter-spacing: 0.09em;
    // border-radius: 2px;
    // text-align: center;

    a {
      // text-decoration: none;
      // background-color: #e1a918;
      // color: #dbdbdb;
      // margin: 0 20px;
      // text-decoration: none;
      // letter-spacing: 1.75px;
      // text-transform: uppercase;
      // font-weight: bold;
      // color: #fff;
      // font-family: "Roboto", sans-serif;

      text-decoration: none;
      letter-spacing: 1.75px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      font-family: "Roboto", sans-serif;
    }
  }

  /*   
   margin: 0 20px;
        text-decoration: none;
        letter-spacing: 1.75px;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        font-family: "Roboto", sans-serif;
        &:last-child {
          margin-right: 0px;
        }

        // &:hover {
        //   background-color: #fff;
        //   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        // }

        button {
          border: 2px solid #e1a918;
          color: white;
          font-family: "Roboto", Segoe UI, calibri, Helvetica, serif;
          padding: 10px;
          font-size: 18px;
          width: 160px;
          border-radius: 500px;
          cursor: pointer;
          background-color: #e1a918;
          transition: all 0.2s ease-in-out;
          outline: none;
          font-weight: bold;
  */

  @media screen and (min-width: 992px) {
    .single-room-images,
    .single-room-info,
    .room-extras {
      width: 95vw;
      max-width: 1170px;
    }

    .single-room-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
    }
  }
}

/********* CARDS *******/
.card-section {
  h2 {
    text-align: center;
    font-size: 2rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    gap: 3rem;
    margin: 5rem auto;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    .card {
      background-color: #fff;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      width: 100%;

      .card-header img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        max-height: 250px;
        .card-heading {
          margin: 10px 0;
          font-size: 1.5rem;
          text-align: center;
        }

        .card-description {
          font-size: 16px;
          margin: auto;
          line-height: 1.7;
        }
      }
    }
  }
}

/****** Reservation *************/
.form-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #e1a918;
  color: #fff;
  padding: 50px 0;

  .container * {
    box-sizing: border-box;
  }

  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }

  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }

  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;
  }

  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }

  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: 0.09em;
    text-transform: uppercase;
  }

  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }

  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }

  .flex-outer li p {
    margin: 0;
  }

  .flex-outer li input:not([type="checkbox"]),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
  }

  select {
    padding: 15px;
    border: none;
  }
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 2px;
  }

  .flex-inner li {
    width: 100px;
  }
}

/***************** About **********/
.about-page {
  background: linear-gradient(rgba(51, 51, 30, 0), rgba(0, 0, 0, 0.7)),
    url("../images/zangi.jpg") center/cover no-repeat;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
  h1 {
    margin-bottom: 1rem;
    font-size: clamp(1rem, 5vw, 3rem);
    padding: 0 1rem;
    color: #f2f2f2;
  }

  p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: 0 1rem;
    margin-bottom: 2rem;
    color: #dbdbdb;
  }
}

/************ Contact ***************/
.contact-hero {
  background: linear-gradient(rgba(51, 51, 30, 0), rgba(0, 0, 0, 0.7)),
    url("../images/function-room.jpg") center/cover no-repeat;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
  width: 100%;
  h1 {
    margin-bottom: 1rem;
    font-size: clamp(1rem, 5vw, 3rem);
    padding: 0 1rem;
    color: #f2f2f2;
  }

  p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: 0 1rem;

    color: #dbdbdb;
  }
}

.contact-details {
  margin-bottom: 2rem;
  padding-left: 4rem;
  line-height: 0.5;
  letter-spacing: 0.7px;

  h3 {
    margin-top: 3rem;
  }
}

.contact-container {
  width: 100vw;
  height: 100%;

  .contact-wrapper {
    display: flex;
    padding: 4rem;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    .contact-image {
      flex: 1;
      height: 500px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .contact-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      color: black;

      input[type="text"],
      select,
      textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }

      textarea {
        height: 170px;
      }

      input[type="submit"] {
        background-color: black;
        color: white;
        padding: 20px;
        border: none;
        cursor: pointer;
        border-bottom: 1px solid aqua;
      }

      input[type="submit"]:hover {
        border-bottom: 1px solid aqua;
        border-top: 1px solid aqua;
      }
    }
  }
}

/************ About **********/
.about-container {
  width: 100vw;
  height: 100%;

  .about-wrapper {
    display: flex;
    padding: 4rem;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    .about-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      color: black;

      p {
        line-height: 1.7;
      }
    }
  }
  .about-image {
    flex: 1;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
